.additional-links ul {
  @extend .row;
  list-style: none;

  > li {
    @extend .col-md-6;
    margin-bottom: 15px;
    background: image-url('iconoFormatos.png') no-repeat left top;
    background-size: 30px 38px;
    min-height: 38px;
    padding: 10px 10px 10px 40px;

    > a {
      color: $gray-darker;
      font-size: 1.3em;
    }
  }
}
