.challenge-points > ul > li {
  padding: 1.5em;
  border: 3px solid $gray-lighter;
  border-top: none;
  background-color: #ffffff;
}

.challenge-points-header {
  padding: 1em;
  background-color: $brand-third;
  border: 3px solid $gray-lighter;
  border-top: none;
  color: $brand-primary;
  text-transform: uppercase;
}
