.chosen-container-multi .chosen-choices {
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.chosen-container-multi .chosen-choices li.search-field {
  margin: 3px 0 3px 5px;
}
