.padding-small {
  padding: 1em;
}

.header-entry {
  margin: 0px;
}

.header-entry-first {
  margin-left: 1em;
}

.text-white {
  color: white;
}

.text-green {
  color: $green;
}

.team-name {
  background: $green;
}

.image-xsmall {
  width: 35px;
  height: 45px;
}

.image-medium {
  width: 200px;
  height: 150px;
}

.image-full {
  width: 100%;
  height: 400px;
}

.bottom-margin-large {
  margin-bottom: 40px;
}

.bottom-margin-medium {
  margin-bottom: 20px;
}
