.main-navbar {
  background: #ffffff;
  overflow: hidden;
}

.main-navbar-logo img {
  width: 250px;
  padding: 0.5em;
}

.main-navbar-menu {
  > li {
    font-weight: bold;
    text-shadow: 0 1px #eeeeee;

    > a {
      color: $brand-dark !important;
    }
  }
}

.main-navbar-menu-last {
  border-left: 1px solid #eeeeee;
}
@media (max-width: $screen-sm-min) {
  .main-navbar-menu-last {
    border-left: none;
    border-top: 1px solid #eeeeee;
  }
}
