%p ¡Hola!
%p
  Tu propuesta ha terminado de ser evaluada por el equipo de jueces,
  para revisar tu calificación final, entra tu
  = link_to 'panel', panel_entries_url
  de entradas.
%p
  ¡Mucha suerte!<br>
  <strong>Codeando México</strong><br>
