<p>Hola <%= @entry.member.name %>,</p>

<p>Hemos detectado un problema en la propuesta que enviaste del reto "<%= @challenge.title %>".</p>

<p>Para saber más por favor contáctanos a <strong><%= @contact_email %></strong>.</p>

<p>
  ¡Mucha suerte!<br>
  <strong>Retos Públicos</strong><br>
  <%= link_to "retos.gob.mx", root_url %>
</p>
