<p>¡Hola!</p>
<p>
  Te confirmamos que recibimos tu prototipo exitosamente para el reto
  <%= link_to @challenge.title, challenge_url(@challenge) %>.
</p>
<p>
  ¡Mucha suerte!<br>
  <strong><%= ENV['OWNER_NAME'] %></strong><br>
</p>
