<p>¡Hola!</p>
<p>
  Te confirmamos que recibimos tu prototipo exitosamente para el reto
  <%= link_to @challenge.title, challenge_path(@challenge) %>.
</p>
<p>
  ¡Mucha suerte!<br>
  <strong>Retos Públicos</strong><br>
  <%= link_to "retos.gob.mx", root_url %>
</p>
