<p>¡Hola!</p><br>
<p>
  Te confirmamos que recibimos idea exitosamente para el reto <%= link_to @challenge.title, challenge_path(@challenge) %>.
</p>
<p>
  Te recordamos que tienes hasta el <%= @timeline.ideas.due_date %> para editarla.
</p>
<p>
  ¡Mucha suerte!
</p>
<%= link_to "Retos Públicos", root_path %>
