.more-projects-link {
  margin: 25px;
}

.bootstrap-tagsinput {
  font-size: 20px;
  line-height: 30px;
  margin: -8px 0 0 15px;
  max-width: 340px;
  padding: 0 0 5px 5px;
}

.add-project-text {
  font-size: 12px;
  color: #444;
  margin: 0 0 0 5px;

  a {
    color: #444;
  }
}