<h4><%= link_to t('.back'), :back %></h4>
<div class="sheet-header">
  <h1 class="sheet-title">Enviar proyecto</h1>
</div>

<div class="sheet-section sheet-section-with-pad">
  <%= render 'form' %>
</div>
