<%- if controller_name != 'sessions' %>
  <%= link_to "Ya tengo cuenta con email! Iniciar sesión", new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Aún no tienes cuenta? Regístrate aquí", new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <p>Inicia sesión con:</p>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "<i class='fa fa-#{provider.to_s} fa-2x' style='margin-right: 10px;'></i>".html_safe, omniauth_authorize_path(resource_name, provider) %>
  <% end -%>
<% end -%>
