<% if entry.accepted? %>
  <% if entry.is_the_winner? %>
    <span class="label label-warning"><%= t('.entry-winner') %></span>
  <% else %>
    <span class="label label-success"><%= t('.entry-accepted') %></span>
  <% end %>
<% end %>
