<div class="hero-container" id="hero-container">
  <div class="hero-image-container" style="background-image: url(<%= brigade.header_image_url %>)">
    <div class="translucent-overlay">
      <div class="hero-text-container">
        <div class="hero-text">Monterrey</div>
      </div>
    </div>
  </div>
</div>