<a class="member-link">
  <div class="<%= from_modal ? 'modal-member' : 'member' %>">
    <img src="<%= profile_img %>" class="member-image">
    <div>
      <div class="member-name"><%= member_name %></div>
      <div class="sub-text">
        <%= subtext %>
      </div>
    </div>
  </div>
</a>