<div class="content-box">
  <div class="box-title">Stats</div>
  <div class="box-content stats">
    <div class="stat">
      <div class="stat-title">Fundado</div>
      <div class="stat-detail">14/02/2015</div>
    </div>
    <div class="stat">
      <div class="stat-title">Miembros</div>
      <div class="stat-detail">2,402</div>
    </div>
    <div class="stat">
      <div class="stat-title">Proyetos</div>
      <div class="stat-detail">19</div>
    </div>
    <div class="stat">
      <div class="stat-title">Proximo evento</div>
      <div class="stat-detail">12/12/2016</div>
    </div>
  </div>
</div>