<div id="brigades" class="brigades index">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div id="imaginary_container">
          <div class="input-group stylish-input-group">
            <input type="text" class="form-control location-search"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit">
                          <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="map-container">
    <div id="brigade-map" class="brigade-map"></div>
    <div class='place-details'>
      <h1 class='detail-text'></h1>
    </div>
  </div>
  <div class="brigade-results">
    <div class="row">
      <%= link_to brigade_path(1) do %>
        <div class="brigade col-md-3" data-city="monterrey" data-state="nuevo león">
          <div class="brigade-title-container" id="brigade-title-container">
            <div class="brigade-img" style="background-image: url(http://www.monterrey2016.com/images/thumb1.jpg)">
              <div class="translucent-overlay">
                <h2 class="brigade-title-text">Monterrey</h2>
              </div>
            </div>
          </div>
          <div class="brigade-detail" style="background-color: #39698F">
            <div class="brigade-location">Monterrey, Nuevo León</div>
            <div class="members">1 member</div>
            <div class="founded">Founded 2 days ago</div>
          </div>
        </div>
      <% end %>
      <%= link_to brigade_path(1) do %>
        <div class="brigade col-md-3" data-city="puerto vallarta" data-state="jalisco">
          <div class="brigade-title-container" id="brigade-title-container">
            <div class="brigade-img" style="background-image: url(http://lostulesresort.com/wp-content/uploads/2014/10/Home1.jpg)">
              <div class="translucent-overlay">
                <h2 class="brigade-title-text">Puerto Vallarta</h2>
              </div>
            </div>
          </div>
          <div class="brigade-detail" style="background-color: #3A4F91">
            <div class="brigade-location">Puerto Vallarta, Jalisco</div>
            <div class="members">12 members</div>
            <div class="founded">Founded 4 years ago</div>
          </div>
        </div>
      <% end %>
      <%= link_to brigade_path(1) do %>
        <div class="brigade col-md-3" data-city="tequila" data-state="jalisco">
          <div class="brigade-title-container" id="brigade-title-container">
            <div class="brigade-img" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/59/Mariachi2.jpg)">
              <div class="translucent-overlay">
                <h2 class="brigade-title-text">Tequila</h2>
              </div>
            </div>
          </div>
          <div class="brigade-detail" style="background-color: #3C7F97">
            <div class="brigade-location">Tequila, Jalisco</div>
            <div class="members">7 members</div>
            <div class="founded">Founded 3 months ago</div>
          </div>
        </div>
      <% end %>
      <%= link_to brigade_path(1) do %>
        <div class="brigade col-md-3" data-city="veracruz" data-state="veracruz">
          <div class="brigade-title-container" id="brigade-title-container">
            <div class="brigade-img" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/39/AreasVerdesDelRegistroCivil_VeraruzVeracruzMexico.jpeg)">
              <div class="translucent-overlay">
                <h2 class="brigade-title-text">Veracruz</h2>
              </div>
            </div>
          </div>
          <div class="brigade-detail" style="background-color: #9E6C3F">
            <div class="brigade-location">Veracruz, Veracruz</div>
            <div class="members">3 members</div>
            <div class="founded">Founded 1 year ago</div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGCihAwawm_tMs2GOoyqVV_JQXkj4ctYQ" async defer></script>
