<div id="brigades">
  <div class="hero-container" id="hero-container">
    <div class="hero-image-container" style="background-image: url(<%= @brigade.header_image_url %>)">
      <div class="translucent-overlay">
        <div class="hero-text-container">
          <div class="hero-text">Monterrey</div>
        </div>
      </div>
    </div>
  </div>
  <div class="post-hero-content">
    <p id="notice"><%= notice %></p>
    <p class="description">Monterrey's Brigade is incredibly fun. We have lots of events that happen on the daily.
    Lots of unique projects can be found and we have a wonderful, diverse community.</p>
    <div class="left-content">
      <div class="content-box quick-stats">
        <div class="box-title">Stats</div>
        <div class="box-content">
          <div class="stat">
            <div class="stat-title">Fundado</div>
            <div class="stat-detail">14/02/2015</div>
          </div>
          <div class="stat">
            <div class="stat-title">Miembros</div>
            <div class="stat-detail">2,402</div>
          </div>
          <div class="stat">
            <div class="stat-title">Proyetos</div>
            <div class="stat-detail">19</div>
          </div>
          <div class="stat">
            <div class="stat-title">Proximo evento</div>
            <div class="stat-detail">12/12/2016</div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-content">
      <div class="content-box">

        <div class="box-title">Next Event</div>
        <div class="box-content">
          <div class="row">
            <div class="col-md-8">
              <h1>Tuesday, April 5th</h1>
              <h3>6:00 PM to 7:00 PM</h3>
            </div>
            <div id="map-canvas" class="circle-text col-md-4">
              <div id="googleMap"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGCihAwawm_tMs2GOoyqVV_JQXkj4ctYQ"
        async defer></script>