<h1>Hola <%= @organization.email %>: </h1>

<p>Tienes un comentario nuevo en <%= link_to "esta liga", organization_challenge_url(@organization.id, @challenge)  %>.</p>
<br/>
<p>Comentario: <%= @comment.body %></p>
