<div class="sheet-header">
  <h1 class="sheet-title">Enviar prototipo</h1>
</div>

<div class="sheet-section sheet-section-with-pad">
  <%= form_for @entry, url: challenge_prototypes_path(@challenge), method: :post, html: { class: 'form-horizontal' } do |f| %>
    <%= render partial: 'form_content', locals: { f: f, submit: 'new_prototype' } %>
  <% end %>
</div>
