<h3><%= t('.view-subtitle') %></h3>

<%= form_for dashboard_challenge_emails_path(@current_challenge), url: { action: "create" } do |f| %>
  <% @current_challenge.current_participants.each do |entry| %>
    <%= f.hidden_field :members, value: '1', name: "members[#{entry.member.id}]" %>
  <% end %>
  <%= render 'email_form', f: f %>
<% end %>
