<h1 class="l-space-bottom">Dashboard</h1>

<h3 class="l-space-bottom">Retos Activos</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Participantes</th>
      <th>Propuestas recibidas</th>
      <th>Días restantes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to 'Reto SEP', '#' %></td>
      <td>86</td>
      <td>6</td>
      <td>14</td>
    </tr>
  </tbody>
</table>
