<footer id="main-footer">
  <div class="unit footer-wrap">
    <div class="container holder">
      <%= link_to "Sobre Codeando México", about_path %>
      <%= link_to "Blog", "http://blog.codeandomexico.org/" %>
      <%= raw t('layout.copyright') %>
    </div>
  </div>
</footer>
