.container
  -# .row.info__links
    .col-xs-12.col-sm-2
      %p.header Codeando México
      %ul
        %li Retos
        %li Ideas
        %li Hackatons
        %li Datos Abiertos
        %li Aplicaciones Cívicas
    .col-xs-12.col-sm-2
      %p.header Comunidad
      %ul
        %li Hackers Cívicos
        %li Fellows
        %li Ciudades
        %li Organizaciones
        %li Gobiernos
    .col-xs-12.col-sm-2
      %p.header Conoce más
      %ul
        %li Historia
        %li Blog
        %li Conversaciones
        %li Cómo contribuir
        %li Prensa
        %li Escríbenos
    .col-xs-12.col-sm-2
      %p.header Apoya
      %ul
        %li Donar
        %li Tienda
    .col-xs-12.col-sm-8
  .row
    .col-xs-12
      %p
        2015 | Creado por
        = link_to 'Cívica Digital', '#'
      %p
        Codeando México A.C. es una organización sin fines de lucro que busca
        promover la solución de problemas ciudadanos en México usando tecnología.
      %p Fundada en 2013 por los geeks de Cívica Digital.
