%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      = image_tag 'logocmx@2x.png', width: '350px'
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{ href: "#" } Participa
        %li
          %a{ href: "#" } Hackers
        %li
          %a{ href: "#" } Ciudades
        %li
          %a{ href: "#" } Aplicaciones
        %li
          %a{ href: "#" } Acerca
