%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      = link_to "CodeandoMéxico", '#', class: 'navbar-brand'
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{ href: "#" } Participa
        %li
          %a{ href: "#" } Hackers
        %li
          %a{ href: "#" } Ciudades
        %li
          %a{ href: "#" } Aplicaciones
        %li
          %a{ href: "#" } Acerca
