<section id="main-wrap">
  <div class="main-home-wrap">
    <div class="row">
      
      <div class="action-wrap-box">
        <h1>Where developers come to meet.</h1>
        <%= link_to new_project_path, :class => "get-involved" do %>¡Involúcrate!<% end %>
      </div>
      
    </div>
  </div>
</section>

<section id="projects">
  <div class="row">
    <div class="trending-projects">
    
    </div>
  </div>
</section>