<section id="about" class="unit about">
  <div class="container holder">

    <h3>Únete al equipo de Codeando México</h3>
    <div class="unit tblock">
      <p>
        <b>Codeando México</b> es una organización non-profit que busca crear un ecosistema de innovación cívica y datos abiertos a través del tecnología.
      </p>

      <p>
        Somos un equipo pequeño, ágil y en crecimiento. Buscamos nuevos apasionados en hackear la forma de abrir al gobierno y por
        rediseñar la innovación cívica y participación ciudadana con tecnología.
      </p>

      <p>
        Nuestro principal enfoque actualmente es construir la plataforma de datos abiertos más grande de México que brinde acceso a organizaciones
        civiles, centros de investigación y gobiernos locales a publicar y consumir datos abiertos fácilmente.
      </p>
    </div>


    <h4>Diseño - Designer in residence</h4>
    <div class="unit tblock">

      <b>Perfil </b>
      <p>
        Un diseñador/a que tenga experiencia con diseño gráfico e identidad, así como nociones de diseño para web,
        con habilidades para comunicar sus ideas de manera visual y escrita.
        Alguien con estilo inspirador, y que pueda presentarlo al equipo con claridad. Que tenga pasión por el diseño que funcione y comunique.
        Sobre todo, alguien que quiera apoyar al rediseño de la participación ciudadana e innovación cívica en Latinoamérica.
      </p>

      <b> Responsabilidades</b>
      <ul>
        <li>Idear e implementar la identidad de nuestras plataformas web.</li>
        <li>Diseñar la imagen de las campañas digitales de innovación cívica y datos abiertos.</li>
        <li> Colaborar con el equipo de developers con mockups y código front-end del diseño de nuestras apps web.</li>
        <li> Trabajar con el equipo de hackers y data-scientists para diseñar y prototipar visualizaciones de datos y apps cívicas.</li>
        <li> Apoyar a la incorporación de la identidad de Codeando México en las áreas de innovación de cada proyecto.</li>
      </ul>

      <b> Skills</b>
      <ul>
        <li> Experiencia en diseño web y usabilidad, construyendo wireframes y mockups.</li>
        <li> Experiencia en diseño de identidad gráfica.</li>
        <li> HTML, CSS, JS, y técnicas de responsive design.</li>
        <li> Encanto por colaborar con profesionistas de áreas diversas (hackers, scientists, periodistas, entre otros).</li>
        <li> Tienes un portafolio del cual nos puedes hablar y presumir.</li>
        <li> Curiosidad por aprender nuevas tecnologías, tendencias y temas.</li>
        <li> (Deseado) Story-telling, visual y escrito.</li>
        <li> (Deseado) Conocimientos o interés por “Data Visualization”.</li>
      </ul>


      <b> Aplica</b>
      <p>
        Escríbenos a <%= link_to 'equipo@codeandomexico.org', 'mailto:equipo@codeandomexico.org' %> con tu CV, portafolio y
        un breve párrafo de por qué te gustaría formar parte de Codeando México.
      </p>
    </div>

  </div>
</section>
