<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2 sheet-section sheet-section-with-pad">
        <h1>AVISO DE PRIVACIDAD</h1>

        <h3>¿Para qué fines utilizaremos sus datos personales?</h3>
        <p>
          Los datos personales que recabamos de usted, los utilizaremos para
          identificar a los participantes del Reto y vincularlos con las
          propuestas que envían, así como mantener contacto para cualquier
          asunto relacionado con el desarrollo del Reto, entre ello, para
          notificar a los finalistas y ganadores.
        </p>

        <p>
          ¿Qué datos personales utilizaremos para estos fines?
        </p>

        <p>
          Para llevar a cabo las finalidades descritas en el presente aviso de
          privacidad, utilizaremos los siguientes datos personales:
        </p>

        <ul>
          <li>Nombre</li>
          <li>Correo electrónico</li>
          <li>Contraseña generada en su cuenta de Codeando México</li>
          <li>Fotografía (opcional)</li>
          <li>Biografía (opcional)</li>
        </ul>

        <h3>¿Con quién compartimos su información personal y para qué fines?</h3>
        <p>
          Le informamos que sus datos personales son compartidos dentro del
          país con la o las instituciones que lanzan el Reto, así como con los
          jueces evaluadores, durante las dos etapas del mismo. Las personas y/o
          autoridades no requieren consentimiento, la finalidad de los datos es
          identificar a los participantes con las propuestas enviadas y
          contactarlos en caso de ser necesario; para los jueces la única
          finalidad es evaluar y calificar lo trabajos.
        </p>

        <h3>¿Cómo puede acceder, rectificar o cancelar su datos personales,
          u oponerse a su uso y revocar el consentimiento?</h3>

        <p>
          Usted tiene derecho a conocer qué datos personales tenemos de usted,
          para qué los utilizamos y las condiciones del uso que les damos
          (Acceso). Asimismo, es su derecho solicitar la corrección de su
          información personal en caso de que esté desactualizada, sea inexacta
           o incompleta (Rectificación): que la eliminemos de nuestros registros
           o bases de datos cuando considere que la misma no está siendo
           utilizada adecuadamente (Cancelación); oponer al uso de sus datos
           personales para fines específicos (Oposición): así como revocar su
           consentimiento. Estos derechos se conocen como derechos ARCO.
        </p>

        <p>
          Para conocer el procedimiento y requisito para el ejercicio de los
          derechos ARCO o revocación del consentimiento, escríbanos al correo
          <%= mail_to 'equipo@codeandomexico.org' %>.
        </p>

        <p>
          Los datos de contacto de la persona, que  está a cargo de dar
          trámite a las solicitudes de derechos ARCO y revocación
          del consentimiento, son los siguientes: Catalina Luz Demidchuk,
          <%= mail_to 'catalina@codeandomexico.org' %>.
        </p>

        <h3>¿Cómo puede limitar el uso o divulgación de su información personal?</h3>
        <p>
          Para limitar el uso y divulgación de su información personal,
          escríbenos a <%= mail_to 'equipo@codeandomexico.org' %>.
        </p>

        <h3>Uso de tecnologías de rastreo en nuestro portal de Internet</h3>
        <p>
          Le informamos que en nuestra página de internet utilizamos cookies,
          web beacons u otra tecnologías, a través de las cuales es posible
          monitorear su comportamiento como usuario de internet, así como
          brindarle un mejor servicio y experiencia al navegar en nuestra página.
        </p>
        <p>
          Estas tecnologías podrán ser deshabilitadas por el usuario si así se decide.
        </p>

        <h3>¿Cómo puede conocer los cambios en este aviso de privacidad?</h3>
        <p>
          El presente aviso de privacidad puede sufrir modificaciones,
          cambios o actualizaciones. Nos comprometemos a mantenerlo
          informado sobre los cambios que pueda sufrir el presente aviso de
          privacidad, a través de nuestra página de internet
          <%= link_to ENV['DOMAIN'], ENV['DOMAIN'] %>.
        </p>
  </div>
</div>
