<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2 sheet-section sheet-section-with-pad">
        <h1>Política de privacidad y manejo de datos personales</h1>
        <p>
          El sitio web al que usted ha ingresado es operado por la Presidencia
          de la República de los Estados Unidos Mexicanos. Esta política de
          privacidad describe los tipos de información recolectados por la
          Presidencia de la República en su sitio web y cómo los usamos y
          protegemos. Esta Política de Privacidad sólo se aplica a los sitios
          web de <strong>la Presidencia de la República</strong> y no es aplicable a banners,
          concursos, anuncios o promociones, que se desplieguen dentro del
          sitio web de la Institución.Al usar nuestro sitio web usted expresa
          su aceptación de esta Política de Privacidad. Si no acepta las
          condiciones de esta Política de Privacidad ni los Términos y
          Condiciones de uso de nuestro sitio web, por favor no use nuestro
          sitio web ni divulgue su información personal.
        </p>

        <h4>Información que recolectamos</h4>
        <p>
          El sitio web de <strong>la Presidencia de la República</strong> recolecta la siguiente
          información: su nombre, fecha de nacimiento, ocupación, edad y/o
          dirección de correo electrónico. <strong>La Presidencia de la República</strong> no
          recolectará ninguna información de los visitantes a nuestras páginas
          a menos que nos suministren su Información Personal de manera
          voluntaria y sólo requeriremos la información necesaria para
          participar en las actividades de nuestras páginas web.Cuando usted
          decide suministrarnos su Información Personal, nos está autorizando
          a usarla de acuerdo con los términos de esta Política de Privacidad,
          que incluye su derecho a limitar nuestro uso de su Información
          Personal, tal como está descripto en esta Política.
        </p>

        <h4>Cómo usamos la Información Personal</h4>
        <p>
          Cuando usted suministra Información Personal al sitio web de la
          Presidencia de la República, nosotros usamos esos datos con el
          propósito de brindarle un mejor sitio web, ofreciéndole contenidos
          de acuerdo a su edad, ocupación y ubicación geográfica, así como
          para contactarlo en caso de haber realizado alguna pregunta o
          comentario. Asímismo, en caso de haber aceptado recibir información
          de <strong>la Presidencia de la República</strong>, se le enviará vía correo
          electrónico un boletín semanal emitido por la Presidencia de la
          República, así como un máximo de 3 comunicaciones electrónicas
          semanales con información de interés.Si en algún momento desea que
          dejemos de contactarlo, se puede dar de baja su suscripción.
          También utilizamos la Información Personal para análisis estadístico
          y para mejorar los contenidos y el diseño de nuestro sitio web, así
          como para definir nuestras estrategias de difusión de los avances y
          logros del Gobierno Federal.
        </p>

        <h3>Recolección y uso de otra información: Uso de cookies</h3>
        <p>
          El uso de “cookies” es convencional en la industria y usted las
          encontrará en muchas páginas web. <strong>La Presidencia de la República</strong>
          puede utilizar “cookies” para recolectar otra clase de información
          mientras usted visita nuestros sitios, como, por ejemplo, las áreas
          específicas de la página web que visita y las actividades en las
          cuales participa en nuestros sitios. <strong>La Presidencia de la República</strong>
          no recolecta de manera automática ninguna Información Personal, pero
          puede combinar información no personalizada, recolectada
          automáticamente (a través de “cookies”) con Información Personal
          remitida de manera voluntaria. Tal enlace puede ocurrir sólo si
          usted provee a <strong>la Presidencia de la República</strong> Información Personal
          en nuestros sitios. Las “cookies” también pueden ser usadas para
          ayudar a agilizar sus futuras actividades en nuestras páginas web –
          la computadora puede recordar que usted ya nos envió su Información
          Personal y no se la pedirá nuevamente.
        </p>

        <p>
          La información anónima de su computadora, como también su dirección
          de IP, el tipo de navegador de Internet y el sistema operativo que
          utiliza, también pueden ser recolectados por nosotros a través de
          “cookies” y a través del sistema de estadísticas que utilizamos. Los
          servidores identifican de manera automática su computadora por medio
          de su dirección de IP. Cuando usted requiere una página, nuestros
          servidores toman nota de su dirección de IP.
        </p>

        <h3>Con quiénes podemos compartir información</h3>
        <p>
          Su Información Personal no será vendida, transferida o divulgada
          bajo ningún circunstancia sin su consentimiento previo y siempre
          tendrá la opción de dar de baja su suscripción al sitio web de la
          Presidencia de la República en cualquier momento.
        </p>
        <p>
          <strong>La Presidencia de la República</strong> provee a sus usuarios las siguientes
          opciones para manejar su Información Personal y para que la puedan
          recuperar en nuestra base de datos.
        </p>
        <ul>
          <li>
            Mándenos un mensaje de correo electrónico a
            transparencia@sip.gob.mx No olvide incluir su nombre,
            dirección de correo electrónico, e instrucciones claras sobre los
            cambios en su Información Personal o si desea dar de baja su
            suscripción de nuestra base de datos.
          </li>
          <li>
            A través de la liga denominada: “Si no es el usuario o si desea
            ser borrado de nuestro listado de envíos solo haga clic aquí”,
            que se encuentra en la parte inferior del Boletín Electrónico
            “México Fuerte”.
          </li>
          <li>
            A través de teléfono, llamando a la Dirección General del Sistema
            Internet de Presidencia, al teléfono (55) 5093-5300 ext. 3469.
          </li>
        </ul>

        <h3>Cambios en la Política de Privacidad</h3>
        <p>
          <strong>La Presidencia de la República</strong> se reserva el derecho de cambiar o
          remover esta Política de Privacidad a nuestra discreción.
          Informaremos aquí sobre cualquier cambio o nueva Política y le
          sugerimos visitar con frecuencia esta área del sitio para estar
          informado. Si hubiera algún cambio de material en el tipo de
          información que recogemos o en la manera que utilizamos tal
          información, obtendremos su permiso antes de realizar cualquier
          alteración.
        </p>

        <h3>Enlaces a otras páginas web</h3>
        <p>
          Los usuarios deben saber que al acceder a este sitio pueden ser
          direccionados a otros sitios que están fuera de nuestro control.
          Dichos enlaces son principalmente a otros sitios de entidades y
          dependencias de los gobiernos municipales, estatales y federales,
          u organismos públicos o académicos. <strong>La Presidencia de la República</strong>
          no endosa, representa ni garantiza la Política de Privacidad o el
          contenido de ningún sitio de terceros que tenga enlaces con nuestro
          sitio.
        </p>

        <h3>Cómo contactarnos</h3>
        <p>
          Si tuviera alguna duda o inquietud acerca de nuestra Política de
          Privacidad o de la recolección de datos, por favor envíenos un
          mensaje de correo electrónico a transparencia@sip.gob.mx
        </p>
  </div>
</div>
