.start_a_challenge
  %h1 Conoce cómo abrir tu causa a la comunidad

  .row
    .col-xs-12.col-md-6
      %ol
        %li
          %span Define tu problemática
        %li
          %span Pide retroalimentación
        %li
          %span Especifíca los fondos disponibles
        %ol{type: "a"}
          %li
            %span Inicia una campaña de fondeo colectivo
          %li
            %span Indica si ya tienes un sponsor del proyecto
        %li
          %span Abre el reto a la comunidad tecnológica
        %li
          %span Conoce las ideas y propuestas de la comunidad
        %li
          %span Selecciona la mejor propuesta
        %li
          %span Trabaja con tus socios geeks para implementarla
        %li
          %span Actualiza a tus donantes
        %li
          %span Tecnología cívica lista para el mundo
    .col-xs-12.col-md-6
      = image_tag 'movil-1.png', class: 'mobile__img'
