<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2 sheet-section sheet-section-with-pad">
        <h1>T&eacute;rminos y Condiciones</h1>

        <h3>Definiciones</h3>
        <ol type="a">
          <li>Solicitante: Dependencia de la Administración Pública Federal que presenta un reto</li>
          <li>Participante: Personas físicas o morales -emprendedores, startups y empresas- cuyos ingresos brutos anuales no supere cuatro millones de pesos ($4,000,000 pesos 00/100 MN) que responden al Reto a presentar una propuesta. Persona moral que responde al Reto a presentar una propuesta</li>
          <li>Coordinadores: Coordinación de Estrategia Digital Nacional (CEDN) y el Instituto Nacional del Emprendedor (INADEM)</li>
          <li>Gestor: El equipo de la asociación civil que responderá dudas y comentarios sobre el reto, en este caso representado por Cívica Digital A.C.</li>
          <li>Comité organizador: Los solicitantes, coordinadores y equipo gestor del reto</li>
          <li>Solución tecnológica: se refiere al programa de cómputo o aplicación para dispositivo móvil o web</li>
        </ol>

        <h3>Participación y entrega de soluciones</h3>
        <p>El reto está abierto a cualquier empresa constituída con una facturación máxima de $4,000,000 moneda nacional.</p>
        <p>La participación de cualquier persona o equipo implica un total acuerdo con lo descrito en este documento y con la decisión final de los solicitantes y coordinadores del concurso.</p>
        <p>Los participantes deberán cumplir todos los requisitos descritos en la convocatoria y quedan sujetos a la verificación del cumplimiento de los requisitos por las autoridades correspondientes.</p>
        <p>Los coordinadores podrán descartar y eliminar comentarios que violen las leyes mexicanas.</p>
        <p>Una vez que una propuesta ha sido enviada, no podrá ser retirada de la plataforma por el participante. Sin embargo, los participantes podrán incluir más detalles y hacer modificaciones sobre su propuesta mientras la convocatoria de la fase uno siga vigente.</p>
        <p>Los finalistas y ganadores potenciales serán notificados por medio del correo electrónico a la dirección ingresada en su registro.</p>
        <p>El comité organizador se reserva el derecho a declarar desierta la competición.</p>

        <h3>Derechos de propiedad intelectual</h3>
        <p>Los participantes garantizan que son los autores únicos y acreedores de los derechos de autor o que tienen autorización de uso de los derechos de un tercero.</p>
        <p>Las soluciones no pueden infringir la propiedad o derechos de ningún otro individuo o entidad como está establecido en las leyes mexicanas.</p>
        <p>Las empresas participantes en <%= ENV['OWNER_NAME'] %> no cederán el derecho de propiedad intelectual de sus propuestas. Sin embargo, los cinco finalistas conceden al Solicitante el uso no-exclusivo para publicar y reproducir el nombre de la empresa participante y la descripción de la propuesta sometida para fines educacionales o promocionales. Asimismo, cualquier Entidad o Dependencia de la Administración Pública Federal podrá utilizar dicha información para fines de promoción.</p>
        <p>Al participar en el proceso de <%= ENV['OWNER_NAME'] %>, la propuesta ganadora del reto debe aceptar desarrollar su producto o solución tecnológica bajo los “Términos de Software Libre” especificados en la siguiente sección.</p>
        <p>Nadie podrá adjudicarse derechos respecto del producto generado como solución tecnológica de un reto más que el derecho moral del realizador. En coincidencia con la Ley Federal de Derechos de Autor y (<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>).</p>

        <h3>Términos de Software Libre</h3>
        <p>En caso de que las condiciones de la convocatoria especifiquen el requerimiento de que el producto entregado sea software libre, se deberá acompañar el entregable con una licencia open source que permita el libre uso, modificación y redistribución del software requiriendo a lo mucho de:</p>
        <ul>
          <li>Atribución</li>
          <li>La publicación de cambios</li>
          <li>O la no modificación de la licencia original</li>
        </ul>
        <p>Ejemplos de estas licencias pueden ser variaciones de Apache, GPL, MIT, entre otras.</p>

        <h3>Protección de Datos y Uso de Imagen</h3>
        <p>Los participantes autorizan al comité organizador y/o a los convocantes el tratamiento de datos (incluido el uso de imagen personal) para la realización de promocionales y campañas de difusión y educación del reto en el que participen.</p>
        <p>El Comité Organizador hace de su conocimiento que los datos personales que se recolectan con motivo de su participación en la presente convocatoria tienen como finalidad la identificación del participante así como la difusión del concurso de Retos en el que participe; en tal sentido, dichos datos serán protegidos y tratados de conformidad con los enunciados previstos en la Ley Federal de Transparencia y Acceso a la Información Pública Gubernamental y demás disposiciones aplicables.</p>
        <p>Para conocer el texto completo de la leyenda de información, así como los medios para hacer efectivos sus derechos, puede consultar la sección de “Política de Privacidad y Protección de Datos” contenida en la página web de la Oficina de la Presidencia de la República, cuya dirección electrónica es <a href="http://www.presidencia.gob.mx">www.presidencia.gob.mx</a></p>
        <p>Aceptación tácita. Los participantes aceptarán los términos y condiciones respecto del tratamiento de sus datos personales y la propiedad intelectual con el simple hecho de participar en <%= ENV['OWNER_NAME'] %>.</p>
        <p>Los participantes garantizan la certeza y veracidad de los datos proporcionados para el Reto.</p>

        <h3>Interpretación de la presente Convocatoria</h3>
        <p>Cualquier interpretación sobre el contenido de la presente Convocatoria o situación no prevista en la misma será resuelta por el Solicitante y los Coordinadores.</p>
        <p>Los resultados o cualquier decisión de los coordinadores, solicitantes, jurado, son inatacables.</p>
  </div>
</div>
