// Legacy color names [REFACTOR]
$gray: #DCDCDC;
$grey-200: #EEEEEE;
$grey-600: #757575;
$brand-primary: #11ad00;

$dashboard-background: $grey-200;


// Light colors
$light-grey: #d3d3d3;
$light_green: #93BB3B;
$dim-grey: #696969;
$light-cyan: #e0ffff;
$gainsboro: #dcdcdc;
$white-smoke: #f5f5f5;
$white: #fff;
$whisper: #efe6e6;

// Medium colors
$medium_grey: #9B9B9B;
$shamrock: #3c9;
$nobel: #a99d9d;
$orange: #ffa500;
$blue-romance: #d8f0d2;
$red: #f00;
$grey: #808080;
$malibu: #66B7e1;
$silver: #c0c0c0;

// Dark colors
$dark-blue: #283858;
$dark_grey: #757575;
$dark-orange: #ff8c00;
$black-russian: #24252B;
$black: #000;
$dark-slate-grey: #2f4f4f;
$catalina-blue: #273c5a;
$translucent-black: rgba(0, 0, 0, .5);

//
$border_color: #E0E0E0;
