<span id="activities_json" data-json='<%= @project.timeline_json.to_json %>'></span>
<section id="activities" class="activities row">
  <header>
    <h2><%= t("projects.form.activities") %></h2>
  </header>
  <section>
    <div id=timeline></div>
  </section>
</section>
