<section id="activities" class="activities row">
  <header>
    <h2><%= I18n.t("project.titles.activities") %></h2>
  </header>
  <section>

    <iframe src='http://embed.verite.co/timeline/?source=0Auy8vOHXuNc8dFRUcHVqRXZSbkV4WVJWUThnTmFCWGc&font=Bevan-PotanoSans&maptype=toner&lang=es&height=450' width='99%' height='490' frameborder='0' style="overflow:hidden"></iframe>

  </section>
</section>