
<section id="index_projects" class="index_projects">
  <header>
    <h1><%= t('.header') %></h1>
  </header>

  <section id="projects_list" class="columns on-3 projects_list gray">

    <%= render @projects %>
    
  </section>
  
</section>

<% if can? :manage, Project %>
  <section id="new_project" class="unit new_project">
    <%= link_to t('.new_project'), new_project_path %>
  </section>
<% end %>


