<h1><%= @project.title %></h1>
<h4>Status: <%= @project.status %></h4>
<h4>Creado por: Alguien<%#= @project.creator %></h4>
<h4>Soportado por: Alguien Mas<%#= @project.owner %></h4>

<h2>Descripción</h2>
<h4><%= @project.description %></h4>
<h2>DataSet</h2>
<h4><%= @project.dataset_url %></h4>
<h2>Colaboradores</h2>
<h4>Gente</h4>
<h2>Discusión</h2>
<h4>Randoms</h4>
