<% if entry.accepted? %>
  <% if entry.winner? %>
    <span class="label label-warning"><%= t('.entry-winner') %></span>
  <% else %>
    <span class="label label-success"><%= t('.entry-accepted') %></span>
  <% end %>
<% end %>

<% if entry.invalid? %>
  <span class="label label-warning"><%= t('.entry-invalid') %></span>
<% end %>
