.challenge-actions .btn {
  @extend .btn-lg;
}

.challenge-profile-image {
  @include clearfix;
  background-size: cover;
  height: 25em;
}

.challenge-about {
  padding: 1em;
}

.challenge-pitch,
.challenge-subheader {
  @include clearfix;
  background-color: $gray;
  color: #ffffff;
  padding: 2em 1em;
}

.challenge-subheader {
  padding: 1em 2em;
}

.challenge-subheader-actions {
  margin-top: 0.5em;
}

.challenge-needs {
  padding: 2em;
}

.challenge-comments {
  padding: 2em;
}

.challenge-avatar {
  margin: 1em;
  float: left;
}

.challenge-footer {
  background-color: $brand-primary;
  color: #ffffff;
  padding: 2em 1em;
}
