.challenge-hightlight {
  @include clearfix;
  font-size: 1.1em;
  margin-top: 18em;
  color: #ffffff;
  width: 80%;

  em {
    font-style: normal;
  }

  a {
    color: $brand-dark;
  }

  @media (max-width: $screen-sm-min) {
    width: 100%;
  }
}

.challenge-hightlight-item {
  float: left;
  padding: 1em;
  text-align: center;
  height: 100%;
  min-width: 30%;
  text-transform: uppercase;
}

.challenge-hightlight-item:first-child {
  background-color: $brand-primary;
}

.challenge-hightlight-item:last-child {
  background-color: $brand-dark;
}
