.challenge-item {
  background-size: cover;
  border: 1px solid #ffffff;
  display: block;
  height: 300px;
  margin: 1.5em 0;
  position: relative;

  .row {
    padding: 0em;
    background: #333333;
    margin-left: 0px;
    margin-right: 0px;
  }

  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h3 {
    padding: 0.5em;
    color: #ffffff;
    background-color: $brand-primary;
    width: 90%;
  }
}

.challenge-item-content {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.challenge-item-block {
  padding: 0.5em;
  background-color: #ffffff;
}
