.challenge-item {
  background-size: cover;
  border: 3px solid #eeeeee;
  display: block;
  margin: 1.5em 0;
  position: relative;

  .img-responsive {
    width: 100%;
  }

  .row {
    padding: 0em;
    background: #333333;
    margin-left: 0px;
    margin-right: 0px;
  }

  p {
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0 !important;
  }

  h3 {
    padding: 0.5em;
    color: #ffffff;
    background-color: $brand-primary;
    width: 90%;
  }
}

.challenge-item:hover {
  border: 3px solid #11ad00;
}

.challenge-item-content {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.challenge-item-index-photo {
  bottom: 0;
  width: 100%;
}

.challenge-item-block {
  padding: 0.5em;
  background-color: #ffffff;
}
