.comments-form {
  background-color: $gray;
  color: #ffffff;
  display: none;
  padding: 2em;
}

.comments-form-body {
  color: $gray-dark;
  border: 1px solid $gray-light;
  border-radius: 5px;
  margin-bottom: 1em;
  width: 100%;
}
