.format-label {
  background: url(image_path('sprite-resource-icons.png')) no-repeat 0 0px;
  height: 61px;
  text-indent: -900em;
  width: 57px;
}

.format-label[data-format=rdf], .format-label[data-format*=rdf] {
  background-position: -58px 0px;
}

.format-label[data-format=pdf], .format-label[data-format*=pdf] {
  background-position: -116px 0px;
}

.format-label[data-format=api], .format-label[data-format*=api] {
  background-position: -174px 0px;
}

.format-label[data-format=zip], .format-label[data-format*=zip] {
  background-position: -232px 0px;
}

.format-label[data-format=xls], .format-label[data-format*=xls] {
  background-position: -290px 0px;
}

.format-label[data-format=csv], .format-label[data-format*=csv] {
  background-position: -348px 0px;
}

.format-label[data-format=txt], .format-label[data-format*=txt] {
  background-position: -406px 0px;
}

.format-label[data-format=xml], .format-label[data-format*=xml] {
  background-position: -464px 0px;
}

.format-label[data-format=json], .format-label[data-format*=json] {
  background-position: -522px 0px;
}

.format-label[data-format=html], .format-label[data-format*=html] {
  background-position: -580px 0px;
}
