.challenge-header {
  @include clearfix;
  background-color: $brand-primary;
  color: #ffffff;
  padding: 2em 1em;
}

.challenge-title {
  margin-top: 0;
  margin-bottom: 0.3em;
}

.challenge-section {
  background-color: #ffffff;
}

.challenge-profile-image {
  @include clearfix;
  background-size: cover;
  height: 25em;
}

.challenge-about {
  padding: 1em;
}

.challenge-pitch,
.challenge-subheader {
  @include clearfix;
  background-color: $gray;
  color: #ffffff;
  padding: 2em 1em;
}

.challenge-subheader {
  padding: 1em;
}

.challenge-needs {
  padding: 2em;
}

.challenge-avatar {
  margin: 1em;
  float: left;
}
