.challenge-header {
  @include clearfix;
  background-color: $brand-primary;
  color: #ffffff;
  padding: 2em 1em;
}

.challenge-title {
  margin-top: 0;
  margin-bottom: 0.3em;
}

.challenge-actions .btn {
  @extend .btn-lg;
}

.challenge-section {
  background-color: #ffffff;
}

.challenge-profile-image {
  @include clearfix;
  background-size: cover;
  height: 25em;
}

.challenge-about {
  padding: 1em;
}

.challenge-pitch,
.challenge-subheader {
  @include clearfix;
  background-color: $gray;
  color: #ffffff;
  padding: 2em 1em;
}

.challenge-subheader {
  padding: 1em;
}

.challenge-subheader-actions {
  margin-top: 0.5em;
}

.challenge-needs {
  padding: 2em;
}

.challenge-comments {
  padding: 2em;
}

.challenge-avatar {
  margin: 1em;
  float: left;
}

.comments-form {
  background-color: $gray;
  color: #ffffff;
  display: none;
  padding: 2em;
}

.reply-form {
  display: none;
}

.comments-form-body {
  color: $gray-dark;
  border-color: $gray-light;
  border-radius: 5px;
  width: 100%;
}

.comment-item {
  padding-bottom: 1em;
  border-bottom: 1px solid $gray-lighter;
}

.comment-item-body {
  min-height: 80px;
}

.reply-item {
  border-top: 1px solid $gray-lighter;
  padding-bottom: 1em;
  padding-top: 1em;
}

.votes {
  margin-right: 1em;
  font-size: 1.5em;
  line-height: 0.9;
}
