<div class="deck">
  <%= render 'shared/challenges_card',
             challenges: @challenges,
             current_challenge: @current_challenge,
             filter_path: ->(challenge) { dashboard_report_cards_path(challenge_id: challenge.id) },
             actions: [
               { title: 'Something awesome 1', path: '#'},
               { title: 'Something awesome 2', path: '#'},
               { title: 'Something awesome 4', path: '#'}
             ]
   %>

   <% if @current_challenge.evaluations.any? %>
     <div class="table--card">
       <ul>
         <% @current_challenge.evaluations.each do |evaluation| %>
           <li class="table--row">
             <div class="row--title"><%= evaluation.judge.name %></div>
             <div class="row--subtitle"><%= evaluation.judge.name %></div>
             <div class="row--footer"><%= evaluation_status(evaluation.status, evaluation.number_of_entries_graded, @current_challenge.entries.count) %></div>
           </li>
         <% end %>
       </ul>
     </div>
   <% end %>
</div>
