<span id="activities_json" data-json='<%= @challenge.timeline_json.to_json %>'></span>
<div class="challenge-subheader">
  <h3><%= t("challenges.form.activities") %></h3>
</div>
<div id="activities" class="challenge-section">
  <div id="timeline"></div>
</div>
