.challenge.action.text-center
  - if user_is_able_to_collaborate? @challenge
    - if can_edit_challenge? @challenge
      .challenge-collaborate-content
        = link_to t('.edit-challenge'), edit_dashboard_challenge_path(@challenge), class: 'btn btn-default'
    - elsif Phases.is_current?(:ideas, @challenge)
      .challenge-collaborate-content
        = collaborate_section(@challenge)
    - elsif Phases.is_current?(:ideas_selection, @challenge) && !can_edit_challenge?(@challenge)
      -# how do we display the winning entries?
    - elsif Phases.is_current?(:prototypes, @challenge) && current_member && current_member.is_able_to_submit_a_prototype?(@challenge)
      - if current_member.has_submitted_prototype_for_challenge?(@challenge)
        .challenge-collaborate-content
          = link_to t('.edit-prototype'), edit_challenge_prototype_path(@challenge), class: 'btn btn-default'
      - else
        .challenge-collaborate-content
          = link_to t('.send-prototype'), new_challenge_prototype_path(@challenge), class: 'btn btn-default'
