<% @collaborators.each do |collaborator| %>
  <p class="collab" >
    <%= link_to collaborator.profile_url, target: '_blank' do %>
      <%= image_tag(collaborator.image_url(:small), title: collaborator, alt: collaborator) %>
    <% end %>
  </p>
<% end %>
