<div class="row">
  <div class="col-xs-offset-2 col-xs-2 challenge-phase-bar challenge-green-bar"></div>
  <% if Phases.timeline_from_dates(challenge).ideas_selection.completeness > 0 %>
    <div class="col-xs-2 challenge-phase-bar challenge-green-bar"></div>
  <% else %>
    <div class="col-xs-2 challenge-phase-bar challenge-black-bar"></div>
  <% end %>

  <% if Phases.timeline_from_dates(challenge).prototypes.completeness > 0 %>
    <div class="col-xs-2 challenge-phase-bar challenge-green-bar"></div>
  <% else %>
    <div class="col-xs-2 challenge-phase-bar challenge-black-bar"></div>
  <% end %>


  <% if Phases.timeline_from_dates(challenge).prototypes_selection.completeness > 0 %>
    <div class="col-xs-2 challenge-phase-bar challenge-green-bar"></div>
  <% else %>
    <div class="col-xs-2 challenge-phase-bar challenge-black-bar"></div>
  <% end %>
</div>
