<% if references.empty? %>
  <%= t(".non-references") %>
<% else %>
  <ul>
    <% references.each do |reference| %>
      <li><%= link_to truncate(reference, length: 90), reference, class: 'reference-item', target: '_blank' %></li>
    <% end %>
  </ul>
<% end %>
