<section class="section-content">
  <% if @challenge.references.empty? %>
    <%= t(".non-references") %>
  <% else %>
    <ul class="list-vrt">
      <% @challenge.references.each do |reference| %>
        <li class="list-vrt-item">
          <%= link_to truncate(reference, length: 90), reference, class: 'reference-item', target: '_blank' %>
        </li>
        <br />
      <% end %>
    </ul>
  <% end %>
</section>
