<% if @challenge.references.empty? %>
  <%= t(".non-references") %>
<% else %>
    <% @challenge.references.each do |reference| %>
      <div class="tab-content-block">
        <p>
          <%= link_to truncate(reference, length: 90), reference, class: 'reference-item', target: '_blank' %>
        </p>
      </div>
    <% end %>
<% end %>
