<div class="modal fade" id="updated-terms-of-service" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Actualización de términos de participación</h4>
      </div>
      <div class="modal-body">
        <p>Con la finalidad de dar una atención a los comentarios vertidos en el sitio <strong>retos.gob.mx</strong> y por otros medios por los participantes en la Convocatoria, se emite la siguiente modificación aclaratoria:</p>
        <p class="well">Esta convocatoria se dirige a personas físicas o morales -emprendedores, startups y empresas- cuyos ingresos brutos anuales no supere cuatro millones de pesos ($4,000,000 pesos 00/100 MN).</p>
        <p>Consulta las <%= link_to 'bases', 'https://docs.google.com/document/d/1kZ9oTuqdx5ifkAJW03QgAq6yhWMk3eBKGcACO8NDP-I/pub', target: '_blank' %> para más información.</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" data-dismiss="modal">De acuerdo</a>
      </div>
    </div>
  </div>
</div>
