- content_for :landing do
  #intro
    .content
      .title
        = image_tag 'retoscivicos.png', width: '450px'
      .subtitle
        %h4
          Un espacio de innovación abierta de interacción entre organizaciones
          de la Sociedad Civil y la comunidad tecnológica para proponer soluciones
          a temas cívicos.
      .actions
        = link_to 'Lanza un reto', '#', class: 'btn btn-default'
        = link_to 'Ver retos activos', '#', class: 'btn btn-default'
