/* Challenge */
@import "defaults/colors";
@import "defaults/variables";

.challenge{
  margin-bottom: 50px;

  &.details {
    img {
      width: 100%;
      height: 440px;
      border-radius: $border-radius-image-default;
      margin-bottom: 20px;
    }
  }

  &.action {
    padding-bottom: 35px;
    border-bottom: $border;
  }

  &.timeline {
    color: $dark_grey;
  }

  &.description {
    ul {
      color: $medium_grey;
      padding-left: 14px;
    }
  }

  &.tabs {
    border: 1px solid $light-green;
    border-radius: $border-radius-default;

    a.btn.btn-default {
      background-color: #fff;
      color: $light_green;

      &:hover {
        color: #fff;
        background-color: $light_green;
      }

      &.active {
        color: #fff;
        background-color: $light_green;
        box-shadow: none;
      }

    }
  }
}

// widget styles
.challenge {
  &.widget{
    &.medium {
      // styles for medium size challenge component
      h2, a {
        margin-top: 0;
        font-size: 20px;
        // font-weight: bold;
        color: $dark_blue;
      }

      a {
        font-family: 'LeagueSpartan-Bold';
      }
      p, span {
        color: $medium_grey;
      }

      .photo {
        height: 190px;
        overflow: hidden;
        position: relative;
        background-size: cover;
        border-radius: $border-radius-image-default;

        .title{
          background-color: $light_green;
          position: absolute;
          width: 100%;
          bottom: 0;
          padding: 10px 10px 10px 10px;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;

          opacity: 0.9;
          filter: alpha(opacity=90); /* For IE8 and earlier */
          p{
            color: white;
            text-align: right;
            margin:0;
          }
        }
      }
    }
  }
}

// avatar tooltip
.challenge__collaborator {
  .tooltip {
    background-color: $light_grey !important;
    opacity: 1 !important;

    .tooltip-content {
      padding: 15px;
      p {
        margin-bottom: 0;
        font-size: 14px;
        &.name{
          font-weight: bold;
          margin-bottom: 5px;
          color: $dark_blue;
        }
      }
    }
  }
}
