
// Comment boxes

.media-body {
  margin-top: 15px;
  h4 { color: $light_green; }
}
.avatar-thumb.media-object {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.sort{ margin: 10px; }
