/* Challenge */
@import "defaults/colors";
@import "defaults/variables";

.entry {
  &.widget {
    margin-bottom: 30px;

    img.thumb {
      width: 140px;
      height: 85px;
      border-radius: $border-radius-image-default;
    }

    .content {
      padding-left: 25px;
      a.title {
        @include heading(18px, $dark_blue, 5px);
      }

      .resources {
        a { color: $light_green; }
        span { color: $light_grey; }
        .github {
          width: 30px;
          height: 25px;
        }

        .demo {
          width: 20px;
          height: 20px;
          margin: 3px;
        }
      }
    }

  }
}

.entry.detail {
  h5 { @include heading(18px, $dark_blue, 15px); }
  p {}
  .info {}
  .description {}
  .technologies {}
  .related_entries {}
}
