.newsletter {
  .heading {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    p { margin: 30px; }
  }

  .content {
    input {
      margin-bottom: 15px;
      height: 50px;
    }
  }
}
