@import "defaults/colors";

$phases-bar-total-units: 23;
$phases-bar-unit: 100%/$phases-bar-total-units;
$phases-bar-height: 24px;
$phases-bar-text-height: 16px;

.phases-bar {
  border-radius: 10px;
  background: $border_color;
  margin-bottom: 100px;
}

.phases-bar-phase {
  background: $light_grey;

  > p {
    color: $dark_grey;
    line-height: $phases-bar-height;
    margin: 0;
    position: relative;
    text-align: center;
  }
}

.phases-date {
  position: absolute;
  width: 150px;
}

@media (min-width: $screen-md-min) {
  .phases-bar {
    &.phases-bar {
      height: $phases-bar-height;
    }

    @mixin phases-bar-block($units) {
      float: left;
      height: 100%;
      position: relative;
      width: $phases-bar-unit * $units;
    }

    .phases-bar-milestone {
      @include phases-bar-block(1);
    }

    .phases-bar-milestone-date {
      position: absolute;
      top: 130%;
      left: 50%;
      width: 150px;
    }

    .phases-bar-phase {
      @include phases-bar-block(5);
      border-left: 1px solid $border_color;
      border-right: 1px solid $border_color;
    }

    .phases-bar-completeness {
      width: 0%;
      height: 100% !important;
      background: $light_green;
      bottom: 0;
      left: 0;
      position: absolute;
      top: 0;
      transition: width 1s linear;
    }

    .phases-date {
      top: 180%;
    }

    .phases-date-milestone {
      left: 50%;
    }

    .phases-date-phase {
      left: 100%;
    }

    .phases-date-last-milestone {
      left: auto;
      right: 50%;
      text-align: right;

      .phases-date-dot {
        left: auto;
        right: -5px;
      }

      .phases-date-line {
        left: auto;
        right: 0;
      }
    }

    .phases-arrow {
      position: absolute;
      z-index: 2;
      left: 50%;
      top: 40%;
    }

    .phases-arrow-end {
      left: 100%;
    }

    .phases-arrow-dot {
      width: 13px;
      height: 13px;
      background: $light_green;
      border-radius: 50px;
      margin-left: -5px;
    }

    .phases-arrow-line {
      width: 3px;
      height: 20px;
      background: $light_green;
    }
  }
}

@media (max-width: $screen-md-min) {
  .phases-bar {
    &.phases-bar {
      width: 200px;
      left: 15%;
      position: relative;
    }

    .phases-bar-milestone {
      height: 50px;
      width: 200px;
      position: relative;
    }

    .phases-arrow {
      position: absolute;
      z-index: 2;
      right: -9%;
      top: 40%;
    }

    .phases-arrow-end {
      right: -9%;
      top: 42px;
    }

    .phases-arrow-dot {
      width: 13px;
      height: 13px;
      background: $light_green;
      border-radius: 50px;
      margin-left: -5px;
    }

    .phases-arrow-line {
      height: 3px;
      width: 30px;
      position: relative;
      top: -7.5px;
      background: $light_green;
    }

    .phases-bar-phase {
      border-top: 1px solid $border_color;
      border-bottom: 1px solid $border_color;
      position: relative;
    }
    .phases-bar-completeness {
      width: 100% !important;
      height: 0;
      background: $light_green;
      bottom: 0;
      left: 0;
      position: absolute;
      top: 0;
      transition: height 1s linear;
    }

    .phases-date {
      left: 230px;
      top: 7px;
    }
    .phases-date-phase {
      top: 30px;
    }
  }
}
