@import "compass";
@import "compass/reset";
@import "compass/layout";
@import "compass/css3";
@import "compass/utilities/general";


// Colors Settings
// ------------------------------------------

// NOTE: The higher the number the darker the gray is.
$gray1:       #eeeeee;
$gray2:       #dddddd;
$gray3:       #666666;
// gray4 is for h1, h2. Etc.
$gray4:       #444444;
$lightGreen:  #aaf5c8;
$green:       #00e15a;
$darkGreen:   #11ad00;
$brand-dark:  #11ad00;
$darkBackground: #333333;
$buttonShadow: #627d6b;

// Colors Settings - Foundation

 $mainColor: $green;
 $secondaryColor: #e9e9e9;
 $alertColor: #c60f13;
 $successColor: $green;
 $txtColor: $gray4;
 $highlightColor: #ffff99;
 $black: #000;
 $white: #fff;
 $shinyEdge: rgba(#fff, .5);
 $darkEdge: rgba(#000, .2);

@import "foundation/common/ratios";

// Settings file containing Foundation defaults

// Grid Settings

 $rowWidth: 960px;

// Button Settings

// $buttonRadius: 3px;
// $btnBase: 10px;

// $tinyBtnBase: $btnBase - 5;
// $smallBtnBase: $btnBase - 3;
// $largeBtnBase: $btnBase + 5;

// Form Settings

// $formSpacing: 12px;

// Tab Settings

// $tabHeight: 40px;

// Nav Bar Settings

// $navBarHeight: 40px;
// $navFlyoutBaseWidth: 250px;

// UI Settings

// $thumbRadius: 3px;

// $progBarHeight: 25px;
// $progBarBorderColor: darken($white, 20%);
// $progBarBorderSize: 1px;
// $progBarPad: 2px;

// Modular Scale

 $baseFontSize: 14px;
 $importantModNum: 44px;

// Tooltip Settings

// $hasTipBorderBottom: dotted 1px #ccc;
// $hasTipFontWeight: bold;
// $hasTipFontColor: #333;
// $hasTipBorderBottomHover: dotted 1px darken($mainColor, 20%);
// $hasTipFontColorHover: $mainColor;
// $tooltipBackgroundColor: #000;
// $tooltipBackgroundOpacity: 0.85;
// $tooltipFontSize: 12;
// $tooltipFontWeight: bold;
// $tooltipFontColor: #fff;
// $tapToCloseFontSize: 10;
// $tapToCloseFontWeight: normal;
// $tapToCloseFontColor: #888;
// $tooltipFontSizeScreenSmall: 14;
// $tooltipBackgroundOpacityScreenSmall: 0.85;

// Top Bar Settings

// $topBarBgColor: #222;
// $topBarHeight: 45px;
// $topBarBtmMargin: 30px;
// $topBarTitleWeight: bold;
// $topBarTitleSize: ms(1);
// $topBarLinkColor: $white;
// $topBarLinkWeight: bold;
// $topBarLinkSize: ms(0) - 1;
// $topBarDropToggleSize: 5px;
// $topBarSearchWidth: 200px;
// $topBarBreakPoint: 940px; // Change to 9999px for always mobile layout
// $topBarNavToggleSize: 8px;


/***************************************************
**  STUFF NEEDED FROM FOUNDATION
***************************************************/
@import "modular-scale";
@import "foundation/functions/all";
@import "foundation/settings";
@import "foundation/mixins/all";
@import "foundation/common/base";
@import "foundation/components/modules/tabs";
@import "foundation/components/modules/ui";

/***************************************************
**  FOR THE GRID SYSTEM
***************************************************/
@import 'elasticss';


// Mixins
// -------------------------------------------------------

@mixin hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
