@import 'colors';
@import 'bootstrap';
@import 'cards';
@import 'bootstrap_overrides';

body {
  padding-top: 70px;
  background-color: $dashboard-background;
}

.navbar-default {
  background-color: $white;
}
