@import "base";
@import "fonts";
@import "defaults";
@import "vendor";


/***************************************************
**  LAYOUT + GRID
***************************************************/

.holder {
  width: $rowWidth;
  margin: 0 auto;
}



@include sticky-footer(40px, "#content", "#layout_footer", "#main-footer");

// Header
//--------------------------------------------------

header#main-header {
  
  .header-pre-wrap {
    height: 30px;
    background: $gray2;

    
    .container {
      position: relative;
      
      .what-badge {
        width: 30px;
        height: 35px;
        position: absolute;
        top: 0;
        left: 0;
        background: transparent inline-image("what-badge.png") no-repeat 0 0;
      }
      
      p {
        height: 30px;
        line-height: 30px;
        padding: 0 0 0 40px;
        color: $gray4;
        text-shadow: 0 1px $gray1;
        margin: 0;
      }
      
    }
    
  }// End of .header-pre-wrap
  
  .header-wrap {
    height: 60px;
    border-bottom: solid 1px $gray1;
    @include background-image(linear-gradient($white, $white 60%, $gray2 200%));
    
    .logo {
      height: 50px;
      width: 287px;
      display: block;
      margin: 5px 30px 0 0;
      float: left;
      
      a {
        height: 50px;
        width: 287px;
        display: block;
        @include hide-text;
        background: transparent inline-image("logo.png") no-repeat 0 0;
      }
    }// End of .logo
    
    nav {
      width: 643px;
      height: 60px;
      float: left;
      
      .current-user {
        float: right;
        height: 60px;
        line-height: 60px;
        padding-right: 20px;

        a {
          margin-left: 10px;
        }
      }
      
      ul {
        height: 60px;
        margin: 0;
        
        li {
          height: 60px;
          float: left;
          list-style: none;
          
          a {
            display: block;
            font-weight: bold;
            text-shadow: 0 1px $gray1;
          }
        }
        
      }
      
      ul.main-menu {
        float: left;
        
        li {
          border-right: solid 1px $gray1;
          
          a {
            padding: 18px 20px;
          }
          
        }
      }
      
      ul.login-menu {
        float: right;
        width: 220px;
        
        li {
          
          span {
            float: left;
          }
          
          a {
            padding: 18px 0 18px 20px;
          }
          
        }
      }

      .languages {
        float: right;
        height: 60px;
        line-height: 60px;
        text-align: center;
        cursor: pointer;
        position: relative;

        .current {
          padding: 5px;
          background-color: $gray4;
          color: $white;
          text-transform: uppercase;
          font-size: ms(0);
          line-height: auto;
          @include border-radius(5px);
          padding-right: 20px;
          position: relative;

          &:before{
            position: absolute;
            line-height: 56px;
            right: 6px;
          }
        }

        .list {
          position: absolute;
          top: 37px;
          right: 0;
          height: auto;
          background-color: $gray4;
          padding: 6px 15px;
          @include border-radius(5px);
          @include border-top-right-radius(0);
          display: none;


          li {
            height: auto;

            a {
              color: $gray2;
              font-weight: normal;

              &:hover{
                color: $white;
              }
            }
          }
        }

        &:hover .list {
            display: block;
        }
      }
      
    }// End of nav
    
  }// End of .header-wrap
  
  .header-green-margin {
    height: 10px;
    margin-bottom: 20px;
    background-color: $green;
    border-bottom: solid 1px darken($green, 10%);
  }
  
}// End of header

// End of Header
//--------------------------------------------------



// Landing
//--------------------------------------------------

section#main-wrap {
  background: $green;
  @include single-box-shadow(rgba(0, 0, 0, 0.06), 0, 0, 40px, 30px, inset);

  .main-home-wrap {
    height: 300px;
    border-bottom: solid 1px darken($green, 10%);
    
    
    .action-wrap-box {
      width: 800px;
      margin: 0 auto;
      padding-top:56px;
      text-align: center;
//      background: $white;
//      @include single-box-shadow(rgba(0, 0, 0, 0.1), 0, 0, 1px, 4px);

      h1, h2 {
        color: $white;
      }
      
      a.get-involved {
        width: 400px;
        height: 60px;
        display: block;
        color: $white;
        font: {
          size: ms(3);
          family: "MuseoSans-700";
        }
        text-transform: uppercase;
        padding: 18px 45px;
        margin: 40px auto 0;
        background-color: darken($green, 10%);
        @include border-radius(4px, 4px);
        @include single-transition(background-color, .15s, ease-in-out);
        
        &:hover {
          background-color: darken($green, 12%);
        }
      }
      
    }
    
  }// End of .main-home-wrap
  
  .login-wrap {
    background: $green;
    border-bottom: solid 1px darken($green, 10%);
    @include single-box-shadow(rgba(0, 0, 0, 0.06), 0, 0, 40px, 30px, inset);
    padding: 50px 0;
    
    .login-box {
      width: 600px;
      background: $white;
      margin: 0 auto;
      @include border-radius(4px, 4px);
      @include single-box-shadow(rgba(0, 0, 0, 0.06), 0, 0, 40px, 30px);
      
      header {
        padding: 10px;
        text-align: center;
        background-color: $gray4;
        @include border-top-right-radius(4px);
        @include border-top-left-radius(4px);
        
        h1 {
          color: $white;
          margin: 0;
        }
      }
    }// End of .login-box
    
    .login-content {
      width: 400px;
      margin: 0 auto;
      padding: 20px;
      
      a {
        height: 60px;
        display: block;
        color: $white;
        font: {
          size: ms(2);
          family: "MuseoSans-700";
        }
        line-height: 30px;
        padding: 18px 45px;
        background-color: darken($green, 10%);
        @include border-radius(4px, 4px);
        @include single-transition(background-color, .15s, ease-in-out);
        
        &:hover {
          background-color: darken($green, 12%);
        }
        
        i {
          margin-right: 16px;
          font-size: ms(3);
        }
        
      }
      
    }
    
  }
  
}// End of section#main-wrap

section#projects {
  
  .trending-projects {
    min-height: 460px;
  }
  
}

// End of Landing
//--------------------------------------------------



/***************************************************
**  SHARED
***************************************************/
.content {
  padding: 30px;
}
.buttons {
  float: left;
  color: $white;
  display: block;
  text-align: center;
  background-color: darken($green, 15%);
  height: 45px;
  padding: 0 30px;
  line-height: 45px;
  text-transform: uppercase;
  @include border-radius(4px);
  margin-left: 25px;
  font-weight: bold;

  &:hover{
  background-color: darken($green, 20%);
  }
}

/***************************************************
**  MAIN LAYOUT
***************************************************/

.container.body {
  padding: 40px 0;
}

/***************************************************
**  Project Show
***************************************************/

.pitch {
  header {
    background-color: $green;
    padding: $columnGutter;

    h1 {
      color: $white;
      margin: 0;
      padding: 0;
      font-size: ms(4);
    }
    nav {
      float: right;

      a {
        @extend .buttons;
      }
      .like i {
        margin-right: 15px;
        font-size: ms(1);
      }
    } // End nav

  } // End header

  .description {
    background-color: $white;
    height: 360px;
    position: relative;
    
    .left {
      width: 600px;
      height: 360px;
      img {
        margin: 0;
        padding: 0;
        border: 0;
      }
    }
    .right {
      width: 360px;

        h2 {
          font-size: ms(2);
          margin-bottom: 30px;
        }
    }
    .owner {
      position: absolute;
      bottom: 30px;
      left: 0;
      width: auto;
      .name, .status {
        display: inline-block;
        color: $white;
        height: 50px;
        line-height: 50px;
        padding: 0 25px;
        background-color: $green;
        margin: 0;
        font-weight: bold;

        em {
          font-style: normal;
          font-weight: bold;
          color: $gray4;
        }
      }
      .status{
        background-color: darken($green, 15%);
        text-transform: uppercase;
        position: relative;
        left: -4px;
      }
    }
  } // End .description

}// End .pitch

.slogan {
  background-color: $gray4;
  padding: 50px 150px;

  h3 {
    color: $white;
    text-align: center;
    margin: 0;
    font-family: "MuseoSans-300";
    font-size: ms(3);
  }
}


.resources {

  .colaborators, .references, .datasets {
    width: 320px;
    position: relative;
    background-color: $white;
    cursor: pointer;

    p {
      font-size: ms(2);
      margin: 0;
      line-height: 1em;
      color: $black;
    }

    .content {
      font-size: ms(6);
      font-family: "MuseoSans-500";
    }

    .arrow {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 36px;
      height: 36px;
      background: #DDDDDD inline-image('down_arrow.png') no-repeat center center;
      display: block;
    }
  }
  .references .content {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
  }

  .resources_display.row {
    padding: 40px;
    background: $gray2 inline-image('activities_bg.png') repeat-x top center;

    a {
        color: $gray4;
        text-decoration: underline;
        font-weight: bold;
      }

    .colab {
      float: left;
      height: 110px;
      width: 110px;
      margin-right: 20px;

      a {
        text-decoration: none;
      }

      img {
        width: 80px;
        height: 80px;
        border: 5px solid $gray3;
      }
    }
  }
}


.needs {
  background-color: $white;

  header {
    padding: 30px 0;
    border-bottom: 1px solid $gray2;

    h2 {
      font-size: ms(2);
      text-align: center;
      margin: 0;
    }
  }
  .left {
    width: 580px;
    .content {
      padding-bottom: 10px;
    }
  }
  .right {
    width: 380px;

    h3 {
      background-color: $green;
      color: $white;
      padding: 20px;
      margin: 0;
      font-size: ms(2);
      font-family: "MuseoSans-300";
      margin-bottom: 1px;
    }
    .points {
      margin: 0;
      padding: 0;

      li { 
        list-style: none;
        background-color: $gray1;
        padding: 20px;
        margin-bottom: 1px;
        border-right: 1px solid $white;
      }  
    }
  }
}


.activities {
  header {
    background-color: $gray4;
    padding: 30px;

    h2 {
      color: $white;
      margin: 0;
      font-size: ms(2);
    }
  }

  section {
    height: 500px;
    background-color: $white;
  }

}

.comments {
  header {
    background-color: $gray4;
    padding: 30px;

    h2 {
      color: $white;
      margin: 0;
      font-size: ms(2);
      height: 45px;
      line-height: 45px;
    }
    .comment {
      @extend .buttons;
      float: right;
      background-color: lighten($gray4, 15%);
      height: 45px;
      line-height: 45px;
      &:hover{
      background-color: lighten($gray4, 20%);
      }
    }
  }

  section {
    max-height: 650px;
    background-color: $gray1;
    border: 30px solid $gray4;
    border-top: 0;
    background: $gray1 inline-image('comments_line.png') repeat-y left top;

    .cbox {
      padding: 15px 0 15px 20px;

      .left {
        width: 290px;
        padding-right: 20px;

        img {
          width: 60px;
          height: 60px;
          float: right;
          display: block;
          margin-left: 20px;
          border: 5px solid $gray3;
        }
        .name {
          font-size: ms(1);
          color: $black;
          margin-bottom: 5px;
          display: block;
          text-align: right;
          padding-top: 5px;
        }
        time, .clock  {
          display: block;
          text-align: right;
          margin-bottom: 5px;
        }

      }
      .right {
        width: 555px;
        float: left;

        .box {
          background-color: $white;
          @include border-radius(4px);
          @include box-shadow(0 1px 4px lighten($gray3, 30%));
          position: relative;
          margin-left: 25px;
          padding-left: 40px;
          padding-bottom: 50px;

          &:before{
            content: " ";
            height: 5px;
            width: 20px;
            background-color: darken($gray2, 10%);
            position: absolute;
            top: 20px;
            left: -20px;
          }

          .votes {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 40px;
            height: 100%;
            border-right: 1px solid #eeeeee;
            padding: 8px;
            padding-top: 18px;
            text-align: center;

            span {
              font-size: ms(1);
              font-weight: bold;
              color: $gray4;
              line-height: 1em;
              display: block;
              text-align: center;
            }
          }

          .reply {
            display: block;
            width: auto;
            padding: 5px 15px;
            position: absolute;
            bottom: 15px;
            right: 15px;
            background-color: $gray2;
            color: $gray4;
            @include border-radius(4px);
            text-transform: uppercase;
            cursor: pointer;

            &:hover{
              background-color: darken($gray2, 10%);
              color: $black;
            }
          }

          .comment {
            padding: 15px;
            border-bottom: 1px solid #eeeeee;
            margin: 0;
          }

          .replies {
            margin-left: 20px;
            border-left: 1px solid #eeeeee;
            .rep {
              padding: 15px;
              border-bottom: 1px solid #eeeeee;

              .name .time {
                color: $gray3;
                font-weight: normal;
                padding-left: 20px;
                font-size: ms(-1);
              }
            }
            .comment {
              padding: 0;
              border: 0;
            }
          }
          .form {
            padding: 15px 15px 0 15px;
            margin-left: 20px;
            border-left: 1px solid #eeeeee;
            display: none;

            textarea, input {
              margin: 0;
            }
          }
        }
      }
    } // Closes .cbox

    .wrapper {
      max-height: 620px;
      display: block;
      overflow: auto;

      .comment_form {
        display: none;
        background-color: rgba($gray4, 0.5);

        .box:before{
          background-color: #838383;
        }
        .box {
          padding: 5px;
          height: 100px;

          .reply {
            border: 0;
            width: auto !important;
          }
        }

        textarea {
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
        }
      }
    }

  }
}


.supportus {
  background-color: $green;
  margin-bottom: 100px !important;

  header {
    display: block;
    clear: both;
    padding: 30px;
    padding-bottom: 20px;
  }
  h2 {
    color: $white;
    text-align: center;
    font-size: ms(3);
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid lighten($green, 15%);
  }

  section {
    width: 380px;
    margin: 0 auto;
    height: 75px;

    a {
      @extend .buttons;
    }
    .like i {
      margin-right: 15px;
      font-size: ms(1);
    }
  }
}


/***************************************************
**  PROJECT FORM
***************************************************/

.form_container {

  .form_main, .form_needs, .form_resources, .form_activities {
    background-color: $white;

    section {
      padding: 30px;  
    }
    .left {
      width: 350px;
    }
    .right {
      width: 540px;
    }
    textarea {
      height: 160px;
    }
    input, textarea, select {
      margin: 0
    }
    select {
      width: 200px;
    }
    .row {
      margin-bottom:20px;
    }
    label {
      font-size: ms(1);
      color: $black;
      font-weight: bold;
      display: block;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 25px;
      padding-right: 20px;
    }

    header {
      background-color: $gray4;
      padding: 30px;

      h2 {
        color: $white;
        margin: 0;
        font-size: ms(3);
      }
    }
  }

  .form_needs {
    .left {
      width: 440px;
      .container {
        padding-right: 20px;
      }
    }
    .right {
      width: 450px;
    }
  }

  .form_save {
    background-color: $green;
    padding: 30px;

    input {
      float: none;
      margin: 0 auto;
      border: 0;
      @extend .buttons;
      background-color: darken($green, 15%);
      font-size: ms(1);
      font-weight: normal;
    }
  }
  .form_activities {
    textarea {
      height: 60px;
      margin-bottom: 30px;
    }
  }
}




/***************************************************
**  PROJECT'S INDEX
***************************************************/

section.index_projects {
  .column.data {
    width: 300px;
    margin-bottom: 30px;
    height: 430px;
    background-color: $white;

    &:hover{
      outline: 5px solid $gray2;
    }
    &:nth-child(3n+2){
      margin: 0 30px 30px 30px
    }

    .wrapper {
      padding: 15px;

      img {
        width: 270px;
        height: 140px;
        margin-bottom: 15px;
      }

      .about {
        color: $gray4;
        height: 90px;
      }

      .resources {
        .column {
          width: 33%;
          padding: 10px;
          font-size: ms(2);
          color: $black;

          p {
            font-size: 12px;
          }
        }
      }

    }

    header {
      background-color: $green;
      padding: 15px;

      h2 {
        font-size: ms(1);
        color: $white;
        margin: 0;
      }
    }
  }
}

section.new_project {
  background-color: $green;
  padding: 30px;

  a {
    width: 250px;
    float: none;
    margin: 0 auto;
    border: 0;
    @extend .buttons;
    background-color: darken($green, 15%);
    font-size: ms(1);
    font-weight: normal;
  }
}

.index_projects.home {
  padding: 40px 0;
}

// Footer
//--------------------------------------------------

footer#main-footer {
  
  .footer-wrap {
    height: 50px;
    background: $gray4;
    border-top: 1px solid $white;
    
    p {
      color: $white;
      line-height: 50px;
      margin: 0;
    }
  }
  
}

// End of Footer
//--------------------------------------------------
