/*
 *= require font-awesome
 */

@import "chosen";
@import "bootstrap";

// Defaults
@import "fonts/muli-light";
@import "fonts/league-spartan";

// Elements
@import "elements/button";
@import "elements/text_wrappers";
@import "elements/img";
@import "elements/icons";

// Components
@import "components/chosen";
@import "components/navbar";
@import "components/footer";
@import "components/landing";
@import "components/challenge";
@import "components/entry";
@import "components/phases_bar";
@import "components/social";
@import "components/progress_bar";
@import "components/comments";
@import "components/newsletter";
@import "components/forms";
@import "components/new_challenge_info";
@import "components/card_widget";

// Utilities
@import "defaults/utilities";

#main {
  margin-top: $main_top_and_bottom_margin;
  margin-bottom: $main_top_and_bottom_margin;
  min-height: 430px;
}
