$brand-success: #5cb85c;
$brand-primary: #77b433;
$brand-dark: #507822;

@import 'bootstrap';
@import "timelineJS/timeline";

@import 'aquila/top-message';
@import 'aquila/main-navbar';
@import 'aquila/format-label';
@import 'aquila/challenge';
@import 'aquila/challenge-hightlight';
@import 'aquila/challenge-tabs';
@import 'aquila/challenge-points';
@import 'aquila/comments-form';
@import 'aquila/comment-item';
@import 'aquila/reply-form';
@import 'aquila/reply-item';
@import 'aquila/votes';

body {
  font-family: 'Open Sans', sans-serif;
}

.main {
  background-color: $gray-lighter;
  padding: 3em 0;
}

.avatar {
  width: 80px;
  height: 80px;
}

.avatar-thumb {
  width: 60px;
  height: 60px;
}
