$brand-success: #5cb85c;
$brand-primary: #77b433;
$brand-dark: #507822;

@import 'bootstrap';
@import "timelineJS/timeline";

@import 'aquila/main-navbar';
@import 'aquila/sheet';
@import 'aquila/format-label';
@import 'aquila/challenge';
@import 'aquila/challenge-hightlight';
@import 'aquila/challenge-tabs';
@import 'aquila/challenge-points';
@import 'aquila/comments-form';
@import 'aquila/comment-item';
@import 'aquila/reply-form';
@import 'aquila/reply-item';
@import 'aquila/votes';
@import 'aquila/challenge-item';

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $gray-lighter;
}

.top-message {
  background: $gray-lighter;
  padding: 0.6em 0;
  line-height: 1.5;
}

.main {
  background-color: $gray-lighter;
  padding: 3em 0;
}

.centered-form {
  max-width: 500px;
  margin: auto;
}

.avatar {
  width: 80px;
  height: 80px;
}

.avatar-thumb {
  width: 60px;
  height: 60px;
}

.errorExplanation, #error_explanation {
  @extend .alert;
  @extend .alert-danger;

  h2 {
    @extend .h4;
    font-weight: bold;
  }

  p {
    font-weight: bold;
    margin-bottom: 10px;
  }
}
