/*
 *= require font-awesome
 *= require bootstrap-daterangepicker-3
 */

@import "chosen";
@import "bootstrap";

// Elements
@import "elements/button";
@import "elements/text_wrappers";
@import "elements/img";
@import "elements/icons";

// Components
@import "components/chosen";
@import "components/navbar";
@import "components/footer";
@import "components/landing";
@import "components/challenge";
@import "components/entry";
@import "components/phases_bar";
@import "components/social";
@import "components/progress_bar";
@import "components/comments";
@import "components/newsletter";
@import "components/forms";
@import "components/new_challenge_info";
@import "components/card_widget";

// Utilities
@import "defaults/utilities";

@import "brigades";
@import "bootstrap-tagsinput";
@import "defaults/bootstrap_overrides";

#main {
  margin-top: $main_top_and_bottom_margin;
  margin-bottom: $main_top_and_bottom_margin;
  min-height: 430px;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #e7e7e7;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-role {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
  a {
    margin-right: 5px;
  }
}

.profile-usermenu {
  margin-top: 30px;
  ul li {
    border-bottom: 1px solid #f0f4f7;
    a {
      font-size: 14px;
      font-weight: 400;
      i {
        margin-right: 8px;
        font-size: 14px;
      }
    }
  }
  li:last-child {
    border-bottom: none;
  }
  li.active {
    border-bottom: none;
    a {
      border-left: 2px solid #428bca;
      margin-left: -2px;
    }
  }
}

/* Profile Content */
.profile-content {
  padding: 20px;
  margin-bottom: 10px;
  background: #e7e7e7;
  p {
    color: #111
  }
}
