$brand-success: #00e15a;
$brand-primary: #00e15a;
$brand-third: #aaf6c8;
$brand-dark: #11ad00;

@import 'bootstrap';
@import "timelineJS/timeline";
@import "token-input";
@import "jquery.ui.datepicker";

@import 'aquila/forms';
@import 'aquila/sheet';
@import 'aquila/format-label';
@import 'aquila/challenge';
@import 'aquila/challenge-hightlight';
@import 'aquila/challenge-tabs';
@import 'aquila/challenge-points';
@import 'aquila/comments-form';
@import 'aquila/comment-item';
@import 'aquila/reply-form';
@import 'aquila/reply-item';
@import 'aquila/votes';
@import 'aquila/challenge-item';
@import 'aquila/error-explanation';

@import "retos-publicos/main-navbar";
@import "retos-publicos/sheet";
@import "retos-publicos/social-link";
@import "retos-publicos/challenge";
@import 'retos-publicos/challenge-points';
@import 'retos-publicos/format-label';
@import 'retos-publicos/comments-form';

html {
  height: 100%;
}

body {
  background-color: $gray-lighter;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

.top-message {
  background: $gray-lighter;
  padding: 0.6em 0;
  line-height: 1.5;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -180px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
  height: 180px; /* .push must be the same height as .footer */
}

.footer {
  background-color: $gray-dark;
  color: $gray-lighter;
  padding: 3em;

  a {
    color: $gray-light;
  }

  img {
    margin-bottom: 2em;
  }
}

.main {
  background-color: $gray-lighter;
  padding: 3em 0;
}

.centered-form {
  max-width: 500px;
  margin: auto;
}

.avatar {
  width: 80px;
  height: 80px;
}

.avatar-thumb {
  width: 60px;
  height: 60px;
}

.dataset-pair {
  margin: auto;
  margin-top: 2em;
  max-width: 900px;
}

.dataset-title {
  color: $gray-dark;
  font-size: 0.9em;
  font-weight: bold;
}
