$brand-primary: #11ad00;

@import 'bootstrap';
@import 'cards';
@import 'token-input';
@import 'jquery.ui.datepicker';

body {
  background-color: $grey-200;
  padding-top: 70px;
}

.navbar-default {
  background-color: #fff;
}
