$brand-primary: #11ad00;

@import 'bootstrap';

html {
  overflow: hidden;
}

html, body, .l-dashboard, .l-sidebar, .l-main {
  height: 100%;
}

.l-main {
  overflow: scroll;
}

.table-vertically-centered {
  > thead > tr > td, > tbody > tr > td {
    vertical-align: middle;
  }
}

.l-space-bottom {
  margin-bottom: 1.5em !important;
}

.l-space-top-large {
  margin-top: 2.5em !important;
}

.brand {
  width: 100%;
}

.sidebar {
  border-right: 1px solid $gray-lighter;
}

.sidebar-nav {
  font-size: 1.4em;
  line-height: 2;
  list-style: none;
  padding: 0;

  > li > a {
    display: block;
    padding: 1em;

    &:hover {
      color: $brand-primary;
      background: $gray-lighter;
      text-decoration: none;
    }

    &.active {
      background: $brand-primary;
      color: #ffffff;
    }
  }
}

.sidebar-subnav {
  font-size: 1.2em;
  line-height: 2.5;
  list-style: none;
  padding: 0;
}
