@mixin heading($size, $color, $margin-bottom: 10px) {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: $color;
  font-size: $size;
  font-size: bold;
  margin-bottom: $margin-bottom;
}

@mixin action_icon($color) {
  color: $color;
  cursor: pointer;
}
