$green: #00e15a;

@import "chosen";

@import "retos-publicos/main-navbar";
@import "retos-publicos/sheet";
@import "retos-publicos/social-link";
@import "retos-publicos/challenge";
@import 'retos-publicos/challenge-points';
@import 'retos-publicos/format-label';
@import 'retos-publicos/comments-form';
@import 'retos-publicos/chosen';
@import 'retos-publicos/url-preview';
@import 'retos-publicos/additional-links';
@import 'retos-publicos/phases-bar';
@import 'retos-publicos/finalists';
@import 'retos-publicos/entry';

.about-img {
  margin: auto;
}

.l-space-bottom {
  margin-bottom: 1.5em !important;
}

.full-width-helper {
  width: 100%;
}

.background-light-green {
  background-color: #11ad00;
}

.background-dark-green {
  background-color: #2c5901;
}

.text-small {
  font-size: 10px;
}

.text-light {
  font-weight: lighter;
}


.text-white {
  color: white;
}

.text-light-green {
  color: #11ad00;
}

.text-bold {
  font-weight: bold;
}
