@import "chosen";

@import "retos-publicos/main-navbar";
@import "retos-publicos/sheet";
@import "retos-publicos/social-link";
@import "retos-publicos/challenge";
@import 'retos-publicos/challenge-points';
@import 'retos-publicos/format-label';
@import 'retos-publicos/comments-form';
@import 'retos-publicos/chosen';
@import 'retos-publicos/url-preview';
@import 'retos-publicos/additional-links';
@import 'retos-publicos/phases-bar';

.about-img {
  margin: auto;
}

.l-space-bottom {
  margin-bottom: 1.5em !important;
}

.full-width-helper {
  width: 100%;
}
