-# Basic organization info
.row.challenge.widget.medium
  .col-xs-12.col-md-4{ style: 'margin-bottom: 30px;'}
    .photo{ style: "background-image: url(\'#{@organization.image_url(:profile)}\')" }
  .col-xs-12.col-md-8
    %h1= @organization.name
    %p= @organization.bio

- if @challenges.any?
  %h3{ style: 'margin-bottom:30px;'} Retos activos
  .row
    - @challenges.each do |challenge|
      = render 'organization_challenge', challenge: challenge
