<% if entry.public? %>
  <%= link_to t('.go-to-public'), challenge_entry_path(entry.challenge, entry),
    class: 'btn btn-default',
    target: '_blank' %></td>
<% else %>
  <%= button_to t('.make-public'), publish_dashboard_entry_path(entry),
    confirm: t('.confirm-make-public'),
    class: 'btn btn-default' %>
<% end %>
